@media screen and (min-width: 1401px) {
    div {
      font-size: 45px;
      background-color: #caffbf;
      color: black;
    }
  }

@media screen and (min-width: 901px) and (max-width: 1400px) {
    div {
      font-size: 30px;
      background-color: #20c2df;
      color: black;
    }
  }

@media screen and (min-width: 320px) and (max-width: 900px) {
    div {
      font-size: 15px;
      background-color: #e63946;
      color: black;
    }
  }